.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.table-box {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

td,
th {
  border: 2px solid rgb(57, 48, 48);
  padding: 5px;
}

th {
  background-color: rgb(168, 216, 220);
}

button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  padding: 10px;
}

.remove-btn {
  background-color: rgb(244, 215, 172);
}

.add-btn {
  background-color: rgb(111, 224, 129);
  margin-top: 15px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(191, 239, 249);
  padding: 20px;
  border-radius: 10px;
}

form>label {
  margin-bottom: 15px;
}

form>label>input {
  margin-left: 10px;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(238, 244, 221);
  color: rgb(72, 65, 65);
  font-weight: bold;
}

.form-btn-save {
  margin: 15px;
  background-color: rgb(43, 247, 43);
}

.form-btn-cancel {
  background-color: rgb(242, 170, 125);
  margin: 15px;
}

.form-buttons {
  display: flex;
  justify-content: center;
}